* {
   margin: 0px;
   padding: 0px;
}

#header {
  background-color: black;
  height: 80px;
  width: 100%;
}

#maincontent {
  background-color: red;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 1200px;
}
